@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../.nuxt/";
@source "../../../node_modules/tailwindcss/theme.css";

@theme {
  --font-sans: Inter;
  --ui-bg: #fefefe;
}

body {
  font-family: Inter;
}